@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

#typer {
  font-size: 70px;
  line-height: 78px;
  font-weight: 700;
  /*font-family: 'Roboto', sans-serif; */
  font-family: "Poppins", sans-serif;
  color: white !important;
}

strong {
  font-weight: 700;
}